common: &common
  recept_date: 来訪日
  recept_time: 訪問時間
  recept_datetime: 訪問日時
  recept_company: 来訪者会社名
  recept_name: 来訪者名
  recept_id: 入館ID
  icon: ":office:"
dialog:
  tilte: 六本木グランドタワー入館受付申請
  submit: 送信
  recept_company_placeholder: 会社名がない場合は「面接」「なし」等
  recept_name_placeholder: 「様」をつけると入館証が「様様」になるよ！
  <<: *common
intarctive:
  text_notification: "以下の内容で受け付けました。受け付け完了までしばらくお待ちください :pray:"
  <<: *common
notification:
  text_notification: "入館受付が完了しました :tada:"
  text_guide_jap: |- # RECEPT_DATE, RECEPT_ID は置換部分
    ```
    ◆日時
    RECEPT_DATE

    ◆場所
    〒106-6239
    東京都港区六本木3-2-1
    住友不動産六本木グランドタワー 39F
    https://office.sumitomo-rd.co.jp/building/detail/minato/roppongi_3

    南北線｢六本木一丁目駅｣西改札直結
    日比谷線・大江戸線｢六本木駅」5番出口より徒歩5分

    ◆入館ID
    RECEPT_ID
    （URLクリックでバーコード画像が表示されます）

    ◆ビル入館方法
    ①（1Fまたは4F）セキュリティゲート前の受付機にバーコードをかざしていただく、もしくは入館IDを入力して下さい。
    ②受付機より「入館証」が発券されます。
    （複数名でご来社の場合は人数分の発券をお願いいたします。同一バーコード/IDをご利用いただけます）
    ③入館証のQRコードをゲートにかざし入館します。
    ④ゲート右手のシャトルエレベータで29Fへ。
    ⑤29Fからは36-40F停車のエレベーターにて39Fへお越しください。
    ⑥SmartHR受付のiPadより担当者をお呼び出しください。

    ◆SmartHRオフィスの行き方
    https://shanaiho.smarthr.co.jp/n/n901fe6fc0e28

    ※注意点
    「入館証」はご退館時まで必要です。大切にお持ち下さい。
    ```
  text_guide_eng: |- # RECEPT_DATE, RECEPT_ID は置換部分
    ```
    <Appointed day>
    RECEPT_DATE

    <Address>
    Sumitomo Fudosan Roppongi Grand Tower 39F,  3-2-1 Roppongi, Minato-ku, Tokyo 106-6239

    <How to enter>
    Please print out your admission tickets at the reception machine on the first or fourth floor, using the ID or barcode below.
    You can print out as many tickets as you need with this ID/barcode.

    These admission tickets are required to enter and exit the building gates, so please hold on to them.

    RECEPT_ID

    Take the elevator on your right to the 29th floor, then transfer to the elevator that takes you to the 39th floor.
    ```
  <<: *common
